<ion-content class="register-page" fullscreen="true">
  <div class="register-container">
    <h2 class="title">Register</h2>

    <h3 class="data">Data Pribadi</h3>


    <ion-item class="input-nama">
      <ion-input placeholder="Nama" type="text"></ion-input>
    </ion-item>

     <ion-item class="input-email">
      <ion-input placeholder="Email" type="password"></ion-input>
    </ion-item>

     <ion-item class="input-password">
      <ion-input placeholder="Password" type="password"></ion-input>
    </ion-item>

     <ion-item class="input-NIK">
      <ion-input placeholder="NIK" type="password"></ion-input>
    </ion-item>

     <ion-item class="input-alamat">
      <ion-input placeholder="Alamat Rumah" type="password"></ion-input>
    </ion-item>

     <ion-item class="input-telp">
      <ion-input placeholder="No.Telp" type="password"></ion-input>
    </ion-item>

    <ion-button expand="block" class="register-button">Register</ion-button>



    <div class="register-link">
      Sudah Punya Akun? <a href="#">Login</a>
    </div>

  </div>
</ion-content>