 <ion-header>
    <ion-toolbar  style="--min-height: 80px; --background: #26374D; --color: #ffffff;" class="minmal-toolbar">
      <ion-title> Tambah Tamu </ion-title>
    </ion-toolbar>
  </ion-header>

 <!-- <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title class="ion-text-center">Input Tamu</ion-title>
    </ion-toolbar>
  </ion-header> -->

<ion-content class="ion-padding form-wrapper">
  <p class="text-title">Form Input Tamu</p> 
   <ion-card class="tamu-card">  
   <div class="form-card">
    

    <div class="section-label">Informasi Tamu</div>

    <label>Nama</label>
    <ion-input></ion-input>

    <label>Alamat</label>
    <ion-input></ion-input>

    <label>No.Telp</label>
    <ion-input></ion-input>

    <label>Tujuan</label>
    <ion-input></ion-input>

    <label>Alamat Tujuan</label>
    <ion-input></ion-input>

     <label>Estimasi</label>
    <ion-input></ion-input> 

    <label>Waktu Masuk</label>
    <ion-input type="time"></ion-input>

    <label>Waktu Keluar</label>
    <ion-input type="time"></ion-input>

    <label>Keterangan</label>
    <ion-input></ion-input>

    <ion-button expand="block" class="submit-btn">Konfirmasi Masuk</ion-button>
  </div> 

   </ion-card>

</ion-content> 
