<ion-card>
  <ion-card-header>
    <ion-card-title>Budi Santoso</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-list lines="none">
      <ion-item>
        <ion-label>
           <p><strong>No Identitas:</strong> 3276XXXXXXXX0002</p>
            <p><strong>Masuk:</strong> 08:15 WIB</p>
             <p><strong>Alamat Tujuan:</strong> Jl.Sudirman</p>
          <p><strong>Tujuan:</strong> Antar Dokumen Ke Pak Rt</p>
        </ion-label>
    
      <ion-item lines="none">
        <ion-button color="success" expand="block" class="ion-margin-top">
          Validasi Keluar
        </ion-button>
      </ion-item>
        </ion-item>
    </ion-list>
  </ion-card-content>
</ion-card>

<ion-card>
  <ion-card-header>
    <ion-card-title>Siti Aminah</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-list lines="none">
      <ion-item>
           <ion-label>
           <p><strong>No Identitas:</strong> 3276XXXXXXXX0002</p>
            <p><strong>Masuk:</strong> 08:15 WIB</p>
             <p><strong>Alamat Tujuan:</strong> Jl.Sudirman</p>
          <p><strong>Tujuan:</strong> Antar Dokumen Ke Pak Rt</p>
        </ion-label>
     
      <ion-item lines="none">
        <ion-button color="success" expand="block" class="ion-margin-top">
          Validasi Keluar
        </ion-button>
      </ion-item>
       </ion-item>
    </ion-list>
  </ion-card-content>
</ion-card>
