<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/warga/tabs/layanan"></ion-back-button>
    </ion-buttons>
    <ion-title class="centered-title bold-title custom-background">Layanan Pengaduan</ion-title>
  </ion-toolbar>
</ion-header>



<ion-content class="ion-padding">

  <div class="section-header">
    <h2 class="custom-background">Riwayat Pengaduan</h2>
  </div>

  <div class="filter-status">
    <label class="custom-background">Filter Status:</label>
    <div class="select-wrapper custom-background">
      <ion-select [(ngModel)]="selectedStatus" interface="popover">
        <ion-select-option value="Semua">Semua</ion-select-option>
        <ion-select-option value="Selesai">Selesai</ion-select-option>
        <ion-select-option value="Diproses">Diproses</ion-select-option>
        <ion-select-option value="Ditolak">Ditolak</ion-select-option>
      </ion-select>
    </div>
  </div>

  <ion-card *ngFor="let item of filteredPengaduan()" [ngStyle]="{ 'border-left': '6px solid ' + getBorderColor(item.status) }">
    <ion-card-content>
      <h3>{{ item.judul }}</h3>
      <p>Diajukan {{ item.tanggal }}</p>
      <p>Status:
        <span [ngStyle]="{ color: getBorderColor(item.status) }">
          {{ item.status }}
        </span>
      </p>
      <p [ngStyle]="{ color: getBorderColor(item.status) }">Catatan: {{ item.catatan }}</p>
    </ion-card-content>
  </ion-card>

  <ion-button expand="block" class="btn-tambah" routerLink="/form-pengaduan">
    <ion-icon slot="start" name="add"></ion-icon>
    Tambah Pengaduan
  </ion-button>

</ion-content>
